In [21]:
import pandas as pd
import numpy
import matplotlib as plt

file_path='./data.csv'

df1=pd.read_csv(file_path)

mydata=df1[['Passengerid', 'Age', 'Fare', 'Sex']]

data=mydata.head(10)

   Passengerid   Age     Fare  Sex
0            1  22.0   7.2500    0
1            2  38.0  71.2833    1
2            3  26.0   7.9250    1
3            4  35.0  53.1000    1
4            5  35.0   8.0500    0
5            6  28.0   8.4583    0
6            7  54.0  51.8625    0
7            8   2.0  21.0750    0
8            9  27.0  11.1333    1
9           10  14.0  30.0708    1

NameError: name 'pd' is not defined